<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>PayKick App</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!-- FILTERS -->

    <!-- ENCODING for all pages -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.epam.javalab13.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <!-- For all pages with extension .jsp -->
    <filter>
        <filter-name>JSPFilter</filter-name>
        <filter-class>com.epam.javalab13.filter.JSPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSPFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>

    <!-- By user roles -->
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.epam.javalab13.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/boss</url-pattern>
        <url-pattern>/boss/*</url-pattern>
        <url-pattern>/client</url-pattern>
        <url-pattern>/client/*</url-pattern>
        <url-pattern>/bookmaker</url-pattern>
        <url-pattern>/bookmaker/*</url-pattern>
        <url-pattern>/edit</url-pattern>
    </filter-mapping>

    <!-- END FILTERS -->


    <servlet>
        <servlet-name>EditAccount</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.EditAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditAccount</servlet-name>
        <url-pattern>/admin/edit</url-pattern>
        <url-pattern>/client/edit</url-pattern>
        <url-pattern>/bookmaker/edit</url-pattern>
        <url-pattern>/boss/edit</url-pattern>
    </servlet-mapping>

    <!-- HOME PAGE -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <!-- STATISTICS -->
    <servlet>
        <servlet-name>HomePageStatisticsServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.statitstics.HomePageStatisticsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageStatisticsServlet</servlet-name>
        <url-pattern>/homeStatistics</url-pattern>
    </servlet-mapping>

    <!-- END HOME PAGE -->




    <!-- REGISTRATION -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <!-- END REGISTRATION -->


    <!-- LOGIN -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!-- END LOGIN -->

    <!-- LOGOUT -->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- END LOGOUT -->

    <!-- NEW PASSWORD -->
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.NewPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <!-- END NEW PASSWORD -->

    <!-- RESTORING PASSWORD -->
    <servlet>
        <servlet-name>RestorePassword</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.RestorePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestorePassword</servlet-name>
        <url-pattern>/restorePassword</url-pattern>
    </servlet-mapping>
    <!-- END RESTORING PASSWORD -->

    <!-- CHARTS -->
    <servlet>
        <servlet-name>ChartServlet</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.ChartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChartServlet</servlet-name>
        <url-pattern>/admin/chart</url-pattern>
    </servlet-mapping>
    <!-- END CHARTS -->

    <!-- ADMINS PAGES -->
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.AdminDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <!-- MATCHES -->
    <servlet>
        <servlet-name>AdminMatches</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.MatchesDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminMatches</servlet-name>
        <url-pattern>/admin/matches</url-pattern>
    </servlet-mapping>


    <!-- STATISTICS -->
    <servlet>
        <servlet-name>AdminStatistics</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.StatisticsDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminStatistics</servlet-name>
        <url-pattern>/admin/statistics</url-pattern>
    </servlet-mapping>


    <!-- TEAMS -->
    <servlet>
        <servlet-name>AdminTeams</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.TeamsDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminTeams</servlet-name>
        <url-pattern>/admin/teams</url-pattern>
    </servlet-mapping>


    <!-- USERS -->
    <servlet>
        <servlet-name>AdminUsers</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.UsersDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUsers</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <!-- ADD NEW GAME -->
    <servlet>
        <servlet-name>AddNewGame</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.AddNewGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewGame</servlet-name>
        <url-pattern>/admin/addGame</url-pattern>
    </servlet-mapping>

    <!-- ADD WINNER -->
    <servlet>
        <servlet-name>AddWinner</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.AddWinnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddWinner</servlet-name>
        <url-pattern>/admin/addWinner</url-pattern>
    </servlet-mapping>

    <!-- CANCEL GAME -->
    <servlet>
        <servlet-name>CancelGame</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.CancelGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelGame</servlet-name>
        <url-pattern>/admin/cancelGame</url-pattern>
    </servlet-mapping>

    <!-- REMOVE PLAYER -->
    <servlet>
        <servlet-name>RemovePlayer</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.RemovePlayerFromTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemovePlayer</servlet-name>
        <url-pattern>/admin/removePlayer</url-pattern>
    </servlet-mapping>

    <!-- CREATE TEAM -->
    <servlet>
        <servlet-name>CreateTeam</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.CreateTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTeam</servlet-name>
        <url-pattern>/admin/createTeam</url-pattern>
    </servlet-mapping>

    <!-- ADD EXISTING PLAYER TO TEAM -->
    <servlet>
        <servlet-name>AddExistingPlayerToTeam</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.AddExistingPlayerToTeamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddExistingPlayerToTeam</servlet-name>
        <url-pattern>/admin/addExistingPlayer</url-pattern>
    </servlet-mapping>

    <!-- ADD NEW PLAYER TO TEAM -->
    <servlet>
        <servlet-name>AddNewPlayer</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.AddNewPlayer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNewPlayer</servlet-name>
        <url-pattern>/admin/addNewPlayer</url-pattern>
    </servlet-mapping>

    <!-- UPDATE USER -->
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.epam.javalab13.servlet.admin.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/admin/updateUser</url-pattern>
    </servlet-mapping>

    <!-- END ADMIN -->


</web-app>
